.nav1 {
  background-color: #333;
  color: #fff;
}

.nav1 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  align-items: center;
  justify-content: flex-end;
}

.nav1 li {
  margin-right: 6%;
}

.nav1 a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav1 a:hover {
  background-color: #fff;
  color: #333;
}
